@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}

.stars, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(stars.png) repeat top center;
  background-size: cover;
  z-index:0;
}

.clouds{
    background:transparent url(clouds.png) repeat top center;
    opacity: .4;
    animation:move-clouds-back 200s linear infinite;
}