.album-web {
    text-align: center;
  }
  
  .page {
    box-shadow: 0 1.5em 3em -1em rgb(70, 69, 69);
    background-color:  rgb(226, 218, 192);
    text-align: justify;
  }
  
  .cover {
    background-color: rgb(251, 225, 139);
    box-shadow: 0 1.5em 3em -1em rgb(70, 69, 69);
  }

.pageNumber {
  border-radius: 50%;
  border-width: 1px;
  width: 25px;
  height: 25px;
  margin: 10px;
  text-align: center;
  background-color: rgb(185, 185, 184);
}
  