@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
.album-web {
    text-align: center;
  }
  
  .page {
    box-shadow: 0 1.5em 3em -1em rgb(70, 69, 69);
    background-color:  rgb(226, 218, 192);
    text-align: justify;
  }
  
  .cover {
    background-color: rgb(251, 225, 139);
    box-shadow: 0 1.5em 3em -1em rgb(70, 69, 69);
  }

#page-cover-title {
  font-size: 4em;
  font-family: 'Young Serif', serif;
  text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
}
.pageNumber {
  border-radius: 50%;
  border-width: 1px;
  width: 25px;
  height: 25px;
  margin: 10px;
  text-align: center;
  background-color: rgb(185, 185, 184, 0.7);

  .right {
    float: right;
  }
}

.bookContainer {
  background-color: #282c34;
  background:#000 url(stars.png) repeat top center;
  background-size: cover;
  min-height: fit-content;
  overflow-y: hidden;
}
  