#circle-button {
    margin-right: 5px;
}

.audio-buttons {
    display: flex;
}

.audio-button {
    height: 25px;
    width: 25px;
    border-width: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: white;
}