.circle-button {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border-width: 0px;
    cursor: pointer;
    background-color: #868686;
    &:hover {
        background-color: rgb(187, 187, 187);
    }
  }

.button {
    height: 25px;
    width: 25px;
    border-width: 0px;
    cursor: pointer;
    background-color: white;
}