.audio-player {
    height: 50px;
    background: white;
    font-family: arial;
    color: black;
    font-size: 0.75em;
    max-width: 1400px;
    width: 100%;
    grid-template-rows: 6px auto;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .audio-player .controls {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
  .audio-player .controls > * {
    display: flex;
    justify-content: center;
    align-items: center;
  }






  