input[type="range"] {
    --range-progress: 0;
    
    -webkit-appearance: none;
    position: relative;
    background:#ccc;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    cursor: pointer;
  }

  
  /* played progress length - Chrome & safari*/
  input[type="range"]::before {
    content: '';
    height: 2px;
    background: rgb(131, 128, 128);
    width: var(--range-progress);
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  /* slider thumb - chrome and safari */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border: none;
    background-color: rgb(88, 88, 88);
    cursor: pointer;
    position: relative;
  }
  
  /* dragging thumb - chrome and safari */
  input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.2);
  }